<!DOCTYPE html>
<html>
  <title>
  </title>
  <body>
  <div class="footer">
      <div>
          <!-- social icons by http://simpleicons.org/ -->
          <a href="https://github.com/ajrator"><img src="/images/social/github.svg" alt="Github"></a>
          <a href="https://www.linkedin.com/in/ajrator/"><img src="/images/social/linkedin.svg" alt="LinkedIn"></a>
          <a href="https://stackoverflow.com/users/4586788/ajmal-khan"><img src="/images/social/stackoverflow.svg" alt="StackOverflow"></a>
          <a href="https://www.facebook.com/ajrator"><img src="/images/social/facebook.svg" alt="Facebook"></a>
          <a href="https://instagram.com/ajmal_khan95"><img src="/images/social/instagram.svg" alt="Instagram"></a>
          <a href="mailto:ajmal@ajmalkhan.me"><img src="/images/social/email.svg" alt="Email"></a>
          <a href="https://medium.com/@ajmalkhan"><img src="/images/social/medium.svg" alt="Medium"></a>
      </div>
      <p class="text-muted">&copy; Ajmal Khan, 2019. All rights reserved.</p>
  </div>
  </body>
</html>
